# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# Ignore elm stuff
# ui_elm/client/elm-stuff/
# ui_elm/client/Public/
.idea/
ui_elm/client/.idea/
